.navbar {
    display:block;
    padding-bottom: 3%;
    border-bottom: 1px solid yellow;
}

.enlace-resumen {
    color: white;
    text-decoration: none;
}
select {
    font-size: 1.5em;
}

@media (prefers-color-scheme: light) { 
    .enlace-resumen {
        color: white;
    }
}
@media (max-width: 1250px) { 
    option {
        color: white;
    }
}