table, th, td {
    border: 1px solid white;
    justify-content: center;
}
.restante {
    color:rgb(227, 135, 15)
}
.recaudado {
    color:green;
}
.gastado {
    color: red;
}
.actual {
    color:gold;
}